.albumcardcontainer{
    max-height:500px;
    margin-top:1rem;
    overflow:auto;
}
.btngroup{
    display:flex;
    border:1px solid black;
    border-radius: 10px 10px 10px 10px;
    margin-bottom:1rem;
}
.albumcardcontainer .item{
    min-height: 60px;
    width:100%;
    font-family:"Cafe24SsurroundAir";
    font-size: 1rem;
    text-align:center;
    justify-content: center;
    align-items: center;
}